<!DOCTYPE html>
<html>
  <head>
    <title>Benial webpage</title>
    <style>h1 {font-size:60px;</style>
    
  </head>
  <body>
    <h1>Laio Benial J</h1>
<h1>MSc Data Science 
|Skilled with     Excel,Tableau,ML,GEN AI,NLP| <p> <a href="https://linkedin.com/in/laio-benial"> LinkedIn Profile</a></p>
    </h1>
    <img src="https://16654fdc-2076-4c96-9daf-7b393fa03aea-00-1vcezy0t98ar1.sisko.replit.dev/static/luke-chesser-JKUTrJ4vK00-unsplash.jpg"height="480">
    <h2>About me</h2>
    <p>
      I am Laio Benial, a dedicated Data Analyst and Scientist with expertise in transforming data into actionable insights. With a Master’s degree in Data Science and Business Analysis, I have a strong foundation in analytics, visualization, and machine learning. My goal is to help organizations make data-driven decisions that drive success.
    </p>
    <h2>
      Skills Summary
    </h2>
    <p><b>Technical Skills</b>:
      <ul>
        <li><b>Programming Languages: </b>Python, R, SQL</li>

        <li><b>Data Visualization</b>: Power BI, Tableau, Matplotlib, Seaborn</li>

        <li><b>Data Manipulation:</b> Pandas, NumPy</li>

        <li><b>Machine Learning:</b> Scikit-learn, TensorFlow</li>

        <li><b>Natural Language Processing (NLP):</b> NLTK, SpaCy, TF-IDF</li>
        <li><b> Web development:</b>HTML,CSS,Flask</li>

        <li><b>Database Management:</b> PostgreSQL, MySQL</li>

        <li><b>Cloud Platforms:</b>AWS (Cloud Practitioner, Generative AI)</li>
      </ul>
      </p>
      <p><b>Soft Skills:</b></p>
    <p><ul>
       <li>Problem Solving</li>
        <li>Attention to Detail</li>
        <li>Strong Communication</li>
        <li>Analytical Thinking</li>
        <li>Team Collabration</li>
    </ul>
      </p>
<p><h2>Work Experience</h2>
<b>Data Analytics, Accenture - Internship</b>
<ul>
    <li>Analyzed datasets to identify trends and actionable insights.</li>
    <li>Performed data cleaning, transformation, and modeling for accuracy.</li>
    <li>Created dashboards and visualizations using Tableau and Power BI.</li>
    <li>Applied storytelling techniques to communicate data findings effectively.</li>
    <li>Simulated client presentations to deliver insights and recommendations.</li>
</ul>
</p>
    <b>Data Visualization: Empowering Business with Effective Insights, Tata Groups - Internship</b>
    <ul>
        <li>Framed business scenarios by understanding client requirements and objectives to tailor data solutions.</li>
        <li>Selected appropriate visualizations to represent complex data trends and metrics effectively.</li>
        <li>Designed and developed impactful visuals using Tableau and Power BI to support decision-making.</li>
        <li>Communicated actionable insights and analyses to stakeholders through clear, concise presentations.</li>
    </ul>
    <h2>Education backgrond</h2>
    <p><b>MSc Data Science and Business Analytics</b> - Rathinam College of Arts and Science, India<br> CGPA | 8.23</p>
    <p><b>BSc Statistics</b> - St Joseph's College, India<br> CGPA | 8.0</p>


  </body>

</html>

</DOCTYPE>